.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 100px;
  font-family: Epilogue;
}

.about-images {
  width: 50%;
  position: relative;
  min-height: 450px;
}

.about-images-bg {
  width: 100%;
  background-size: 100% 100%;
  margin-left: 1px;
  min-height: 450px;
  position: absolute;
  transition: transform 0.5s;
}

.about-images:hover .about-images-bg {
  transform: scale(1.1);
}

.desk-img {
  width: 60%;
  background-size: 100% 100%;
  min-height: 300px;
  position: absolute;
  top: 22%;
  right: 15%;
}

.avatar-bg {
  width: 175px;
  height: 175px;
  background-color: var(--purple);
  border-radius: 50%;
  position: absolute;
  left: 30%;
  display: flex;
  justify-content: center;
}

.avatar-bg img {
  width: 75%;
  transition: transform 0.5s;
}

.about-images:hover .avatar-bg img {
  transform: rotate(-20deg);
}

.about-text {
  width: 50%;
  text-align: left;
}

.about-text .name {
  font-size: 16px;
  color: var(--orange);
  margin-bottom: 20px;
}

.about-text .txt {
  max-width: 470px;
}

.about-text .txt-1 {
  font-weight: 900;
  font-size: 56px;
  line-height: 64px;
  color: var(--brown);
  margin-bottom: 26px;
}

.about-text .txt-2 {
  color: var(--brown);
  margin-bottom: 34px;
}

.about-text .txt-2 p:first-child {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 16px;
}

.about-text .txt-2 p:last-child {
  font-size: 16px;
  opacity: 0.66;
}

.about-sns {
  display: flex;
}

.about-sns a {
  margin-right: 20px;
}

.sns-oval {
  width: 48px;
  height: 48px;
  background-color: var(--orange);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.sns-oval img {
  width: 16px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(3deg) brightness(108%)
    contrast(102%);
  transition: transform 0.5s;
}

.sns-oval:hover img {
  transform: scale(1.3);
}

@media (max-width: 1366px) {
  .desk-img {
    left: 20%;
    min-width: 280px;
  }

  .avatar-bg {
    top: 10%;
    left: 20%;
    width: 150px;
    height: 150px;
  }

  .about-text {
    padding-left: 50px;
  }

  .about-text .txt-1 {
    font-size: 48px;
    line-height: 56px;
    max-width: 420px;
  }
}

@media (max-width: 960px) {
  .about-me {
    flex-direction: column;
    padding: 0 50px;
  }

  .about-images {
    width: 100%;
  }

  .desk-img {
    width: 360px;
    left: calc(50% - 180px);
  }

  .avatar-bg {
    left: calc(50% - 170px);
  }

  .about-text {
    width: 100%;
    max-width: 520px;
    padding-left: 0px;
  }

  .about-text .txt-1 {
    font-size: 42px;
    line-height: 52px;
    max-width: 380px;
  }
}

@media (max-width: 500px) {
  .about-me {
    padding: 0 30px;
  }

  .about-images-bg {
    width: 85%;
    /* min-width: 315px; */
    left: 10%;
  }

  .desk-img {
    min-height: 270px;
    width: 250px;
    left: calc(50% - 125px);
  }

  .avatar-bg {
    width: 120px;
    height: 120px;
    top: 15%;
    left: calc(50% - 120px);
  }
}

@media (max-width: 374px) {
  .desk-img {
    left: 0;
  }

  .avatar-bg {
    left: 0;
  }
}
