.contact-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 100px;
  font-family: Epilogue;
}

.get-in-touch {
  width: 50%;
  padding-left: 50px;
  height: fit-content;
}

.contact-me-txt {
  width: 50%;
  text-align: left;
  padding-left: 130px;
}

.contact-me-txt .title {
  font-size: 16px;
  line-height: 32px;
  color: var(--orange);
  margin-bottom: 20px;
}

.contact-me-txt .txt-1 {
  color: var(--white);
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 28px;
  font-weight: 900;
}

.contact-me-txt .txt-2 {
  color: var(--white);
  font-size: 16px;
  line-height: 32px;
  max-width: 470px;
  opacity: 0.64;
  margin-bottom: 33px;
}

.contact-information .location,
.contact-information .email,
.contact-information .linkedin {
  display: flex;
  align-items: center;
  color: var(--white);
  margin-bottom: 20px;
}

.contact-information .bg-oval {
  width: 48px;
  height: 48px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

.location .bg-oval img {
  width: 40%;
}

.email .bg-oval img {
  width: 50%;
}

@media (max-width: 1366px) {
  .contact-me-txt {
    padding-left: 50px;
  }

  .contact-me-txt .txt-1 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 26px;
  }
}

@media (max-width: 960px) {
  .get-in-touch,
  .contact-me-txt {
    padding-left: 0px;
    width: 100%;
    max-width: 550px;
  }

  .contact-me {
    flex-direction: column;
    padding: 0 50px;
  }

  .get-in-touch {
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .contact-me {
    padding: 0 30px;
  }

  .contact-me-txt .txt-1 {
    font-size: 42px;
    margin-bottom: 24px;
  }
}
