.contact-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 100px;
  font-family: Epilogue;
}

.get-in-touch {
  width: 50%;
}

.contact-me-txt {
  width: 50%;
  text-align: left;
}

.contact-me-txt .title {
  font-size: 16px;
  line-height: 32px;
  color: #ef6d58;
  margin-bottom: 20px;
}

.contact-me-txt .txt-1 {
  color: #fff;
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 28px;
  font-weight: 900;
}

.contact-me-txt .txt-2 {
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  max-width: 470px;
  opacity: 0.64;
  margin-bottom: 33px;
}

.contact-information .location,
.contact-information .email {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 20px;
}

.contact-information .bg-oval {
  width: 48px;
  height: 48px;
  background-color: #ef6d58;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

.location .bg-oval img {
  width: 40%;
}

.email .bg-oval img {
  width: 50%;
}
