.navbar {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li span {
  color: #fff;
  padding: 0 40px;
  font-size: 1.1em;
  font-family: Epilogue;
  cursor: pointer;
}

.navbar .contact-btn {
  width: 138px;
  margin-left: 40px;
}
