.copyright {
  text-align: left;
  padding: 32px;
  background-color: #28293e;
  font-family: Epilogue;
  color: rgba(255, 255, 255, 0.64);
  font-size: 14px;
}

@media (max-width: 500px) {
  .copyright {
    font-size: 12px;
    line-height: 24px;
  }
}