.App {
  text-align: center;
}

.container {
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
  width: 5px;
}

.container::-webkit-scrollbar-track {
  background: #32334c;
}

.container::-webkit-scrollbar-thumb {
  background: #32334c;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #28293e;
}

section {
  height: 100vh;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  background-color: #28293e;
}

.about {
  background-color: #fdf0e9;
}

.work {
  background-color: #28293e;
}

.experience {
  background-color: #fdf0e9;
}

.contact {
  background-color: #28293e;
}

.button-orange {
  background-color: #ef6d58;
  color: #ffffff;
  font-family: Epilogue;
  font-weight: bold;
  font-size: 14px;
  width: fit-content;
  padding: 18px 22px;
  border-radius: 6px;
  cursor: pointer;
}

.button-transparent {
  font-family: Epilogue;
  border-radius: 6px;
  border: 1px white solid;
  background-color: #28293e;
  margin-left: 40px;
  cursor: pointer;
  padding: 15px 20px;
}

.button-transparent span {
  font-size: 16px;
  font-weight: 800;
  color: #fff;
}

.reveal {
  transform: translateY(75px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 960px) and (max-height: 800px) {
  .intro {
    height: 800px;
  }
}

@media (max-width: 960px) and (max-height: 850px) {
  .about,
  .experience {
    height: 850px;
  }
}

@media (max-width: 960px) and (max-height: 950px) {
  .contact {
    height: 950px;
  }
}

@media (max-width: 960px) and (max-height: 700px) {
  .work {
    height: 700px;
  }
}
