.App {
  text-align: center;
}

.container {
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  background-color: #28293e;
}

.about {
  background-color: #fdf0e9;
}

.experience {
  background-color: #28293e;
}

.work {
  background-color: #fdf0e9;
}

.contact {
  background-color: #28293e;
}

.button-orange {
  background-color: #ef6d58;
  color: #ffffff;
  font-family: Epilogue;
  font-weight: bold;
  font-size: 14px;
  width: fit-content;
  padding: 18px 22px;
  border-radius: 6px;
  cursor: pointer;
}

.reveal {
  transform: translateY(75px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
